#textdomain wesnoth-Dawn_of_Thunder

#define ICE_GHOST_SPAWNS X Y CHANCE
    [set_variable]
        name=chance_to_spawn
        rand={CHANCE}
    [/set_variable]

    [if]
        {VARIABLE_CONDITIONAL chance_to_spawn equals 1}
        [then]
            [unit]
                type="Ice_ghost"
                x={X}
                y={Y}
                side=3
            [/unit]
        [/then]
    [/if]
#enddef

[scenario]
    id=12_Frost-_and_wolfbites
    next_scenario=13_frozen_ground
    #po: The hyphen here means that the title can be expanded to "Frostbites and Wolfbites":
    name= _ "Frost- and Wolfbites"
    map_data="{~add-ons/dawn_of_thunder/maps/12_Frost-_and_wolfbites.map}"
    victory_when_enemies_defeated=no
    {TURNS 52 51 50}

    {DEFAULT_SCHEDULE}
    [music]
        name=breaking_the_chains.ogg
        append=no
    [/music]
    [music]
        name=heroes_rite.ogg
        append=yes
    [/music]
    [music]
        name=knolls.ogg
        append=yes
    [/music]
    [music]
        name=nunc_dimittis.ogg
        append=yes
    [/music]
    [music]
        name=northern_mountains.ogg
        append=yes
    [/music]
    [music]
        name=wanderer.ogg
        append=yes
    [/music]
    [music]
        name=suspense.ogg
        append=yes
    [/music]
    victory_when_enemies_defeated=no

    {DOT_INCLUDE utils/freezing-utils.cfg}

    [story]
        [part]
            story= _ "They were granted two days of rest, and then the party continued. The dwarves led them through various tunnels for days, and Fiannon had completely lost his sense of orientation. Suddenly the air became colder and their breaths became visible. About half an hour later they reached the last dwarvish garrison on their way."
        [/part]
        [part]
            story= _ "As they reached the exit from the caves, their lungs finally breathing ice-cold, fresh air, the elves felt a great feeling of relief. Before them laid vast mountain ranges covered in snow."
            background=story/coldmountain.png
        [/part]
        [part]
            background=story/map3.png
        [/part]
    [/story]
    {BIGMAP_FROST_AND_WOLFBITES}

    [side]
        side=1
        controller=human
        team_name=1
        user_team_name= _ "Aethen's representants"

        type=Elvish Thunderer
        id=Fiannon
        name= _ "Fiannon"
        profile=portraits/Fiannon.png
        canrecruit=yes
        unrenamable=yes
        shroud=yes
        fog=yes
        recruit=""
        extra_recruit=Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout

        {GOLD 190 155 120}
        {INCOME 2 0 -2}
        {FLAG_VARIANT sylvan}
        [village]
            x,y=44,9
        [/village]
        [village]
            x,y=44,4
        [/village]
    [/side]
    [side]
        side=2
        controller=ai
        team_name=1
        user_team_name= _ "Dwarves"
        no_leader=yes

        {GOLD 0 0 0}
        {INCOME 0 0 0}
        {FLAG_VARIANT knalgan}

        [unit]
            id=stalwart1
            type=Dwarvish Stalwart
            random_traits=no
            x,y=40,5
        [/unit]
        [unit]
            id=stalwart2
            type=Dwarvish Stalwart
            random_traits=no
            x,y=40,8
        [/unit]
        [ai]
            ai_algorithm=idle_ai
        [/ai]
    [/side]
    [side]
        type="RocBig"
        id=Greywing
        name= _ "Greywing"
        x,y=18,4
        side=3
        controller=ai
        team_name=2
        canrecruit=yes
        recruit="RocSmall, Roc"
        user_team_name= _ "Rocs"
        [modifications]
            {TRAIT_SLOW}
            {TRAIT_AGED}
#ifdef EASY
            {TRAIT_WEAK}
#endif
        [/modifications]
#ifdef EASY
        [status]
            slowed=yes
        [/status]
#endif
        {GOLD 40 80 120}
        {INCOME 5 10 15}
        {FLAG_VARIANT6 ragged}
        [ai]
            aggression={ON_DIFFICULTY 0.7 0.8 0.9}
            [avoid]
                [filter]
                    id=Wyrm
                [/filter]
                radius=4
            [/avoid]
            [goal]
                [criteria] #NOTE: this is a SUF, because we're targeting a unit
                    side=1
                [/criteria]
                value={ON_DIFFICULTY 3 4 5}
            [/goal]
        [/ai]
    [/side]
    [side]
        side=4
        controller=ai
        team_name=3
        user_team_name= _ "Wyrm"
        no_leader=yes

        gold=0
        {INCOME 0 0 0}
        {FLAG_VARIANT6 ragged}
    [/side]

    [event]
        name=prestart
        {PLACE_IMAGE (scenery/nest-empty.png) 17 3}
        {PLACE_IMAGE (scenery/nest-full.png) 19 4}
        {PLACE_IMAGE (scenery/nest-empty.png) 19 5}
        {PLACE_IMAGE (scenery/nest-empty.png) 31 2}
        {VARIABLE scenario_number 12}

        {BLACK_SCREEN}
        {LOCK_VIEW}
        {HIDE_UNIT}
    [/event]

    {FROST_DECORATIONS}

    [event]
        name=start

        [delay]
            time=750
        [/delay]
        [interim_text]
            # wmllint: local spelling Wolfbites
            #po: Trailing space is needed at the end to prevent the cutoff that
            #po: happens with italicized GUI2 text
            text= _ "<i>12. Frost- and Wolfbites </i>"
        [/interim_text]
        [clear_print]
        [/clear_print]

        [label]
            x,y=41,7
            # wmllint: local spelling Darwaeton
            text= _ "Darwaeton Hold"
        [/label]
        [label]
            x,y=5,7
            text= _ "The Vast Peak"
        [/label]

        [set_variable]
            name=remaining_mammothes
            rand=3
        [/set_variable]

        {UNLOCK_VIEW}
        {RESET_SCREEN}
        {UNHIDE_UNIT}

        [recall]
            id=Thindromli
            x,y=43,6
        [/recall]
        [recall]
            id=Naia
            x,y=43,8
        [/recall]
        [recall]
            id=Alasar
            x,y=44,6
        [/recall]
        [recall]
            id=Limwen
            x,y=44,7
        [/recall]
        [modify_unit]
            [filter]
                side=1
            [/filter]
            facing=nw
        [/modify_unit]
        [redraw]
            clear_shroud=yes
        [/redraw]
        [message]
            speaker=Thindromli
            message= _ "Friends, welcome to Darwaeton Hold, tha' last point of civilization before the land becomes uninhabitable! Only the sturdiest of dwarves live here. You will suffer frostburns as soon as you stay outside more than a few hours."
        [/message]
        [remove_shroud]
            side=1
            x,y=5,7
            radius=2
        [/remove_shroud]
        {HIGHLIGHT_IMAGE 5 7 items/gohere.png ""}
        [redraw]
            clear_shroud=yes
        [/redraw]
        [message]
            speaker=Thindromli
            message= _ "Can yah see tha' big mountain at the end o' the valley?"
            image=portraits/The-vast-Peak.png
            second_image=portraits/Thindromli.png
            second_mirror=yes
        [/message]
        [message]
            speaker=Fiannon
            message= _ "Kind of. It's a bit difficult to see in this weather..."
        [/message] #
        [message]
            speaker=Thindromli
            message= _ "Well, it's called The Vast Peak. That's where ya' will meet tha' Northguards. But only if <i>they</i> want to meet ya..."
        [/message]
        [message]
            speaker=Fiannon
            message= _ "How are we going to be able to find them with such poor visibility around here?"
        [/message] #
        [message]
            speaker=stalwart1
            message= _ "Well, we did just see a traveler from the dunelands pass through here recently, seeking to train her falcon..."
        [/message] #
        [message]
            speaker=stalwart2
            message= _ "Aye, maybe she's staying in one of the nearby villages? If you catch up with her, maybe you can convince her to help you scout? Those falcons have pretty sharp eyesight..."
        [/message] #
        [message]
            speaker=Fiannon
            message= _ "Thank you, we will be on the lookout for her."
        [/message] #
        [message]
            speaker=narrator
            message= _ "Be warned, any unit that is not in a village or next to a campfire or a healer will suffer frostbites at the start of its turn. These units lose hitpoints and attack damage."
            image=wesnoth-icon.png
        [/message]
        [objectives]
            side=1
            [objective]
                description= _ "Reach The Vast Peak with any unit"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Fiannon"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Naia"
                condition=lose
            [/objective]
            [objective]
                description= _ "Death of Thindromli"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}
            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
            [note]
                description= _ "Any unit that is not in a village, a camp, next to a healer or a campfire at the start of its turn will be frozen."
            [/note]
            [note]
                description= _ "As a gesture of good will, the dwarves of Darwaeton Hold will help pay for the cost of recalling dwarves."
            [/note]
        [/objectives]
    [/event]

    [event]
        name=start
        [unit]
            x,y=24,5
            id=mammoth_young1
            type=Mammoth_calf
            side=3
        [/unit]
        [unit]
            x,y=23,6
            id=mammoth_young2
            type=Mammoth_calf
            side=3
        [/unit]
        [micro_ai]
            side=3
            ai_type=forest_animals
            action=add
            deer_type=Mammoth_calf
            [filter_location]
                [not]
                    terrain=Ha, Ms
                [/not]
                x=23-37
                y=3-11
            [/filter_location]
        [/micro_ai]
    [/event]

    [event]
        name=recall
        first_time_only=no
        [filter]
            side=1
            race=dwarf
        [/filter]
        [filter_second]
            side=1
        [/filter_second]
        [gold]
            side=1
            amount={ON_DIFFICULTY 20 14 8}
        [/gold]
    [/event]

#ifdef EASY
    [event]
        name=recruit
        first_time_only=no
        [filter]
            side=3
            type=Roc
        [/filter]
        [filter_second]
            side=3
            type=RocBig
            id=Greywing
        [/filter_second]
        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            [status]
                slowed=yes
            [/status]
        [/modify_unit]
    [/event]
#endif

    [event]
        name=moveto
        [filter]
            side=1
            x,y=36,4
        [/filter]
        [unit]
            side=2
            type=Dune Falconer
            id=traveling_scout
            profile=portraits/falconer_winter.png
            x,y=36,4
            upkeep=loyal
            experience={ON_DIFFICULTY 36 27 18} # (out of 78)
            [modifications]
                {TRAIT_QUICK}
                {TRAIT_HEALTHY}
            [/modifications]
            passable=yes
            animate=yes
        [/unit]
        [redraw]
            clear_shroud=yes
        [/redraw]
        [message]
            speaker=Fiannon
            message= _ "Hello, are you the traveler training a falcon that the guards of Darwaeton Hold told us about?"
        [/message]
        [message]
            speaker=traveling_scout
            message= _ "Possibly; who wants to know?"
            mirror=yes
        [/message]
        [message]
            speaker=Fiannon
            message= _ "I am Fiannon; my companions and I are traveling to The Vast Peak in search of the Northguards. Would you care to join us? We could use an extra scout."
        [/message]
        [message]
            speaker=traveling_scout
            message= _ "Ah, I was on my way to seek the Northguards myself! I heard that they are good with animals, so I was going to seek their assistance in training my falcon. All right, I'll join; I could use some protection from some of the wildlife in this area, anyways."
        [/message]
        [modify_unit]
            [filter]
                id=traveling_scout
            [/filter]
            side=1
            {TRAIT_LOYAL}
            {IS_LOYAL}
        [/modify_unit]
        [heal_unit]
            [filter]
                id=traveling_scout
            [/filter]
            moves=full
            restore_attacks=yes
        [/heal_unit]
        [redraw]
            clear_shroud=yes
        [/redraw]
        [message]
            speaker=Fiannon
            message= _ "Thank you! Now, onwards to The Vast Peak!"
        [/message]
    [/event]

    [event]
        name=attack end
        first_time_only=yes
        [filter]
            side=1
        [/filter]
        [filter_second]
            type=Mammoth_calf
        [/filter_second]
        [unit]
            x=$x2
            y=$y2
            placement=map
            id=mammoth
            type=Mammoth
            side=3
        [/unit]
        [sound]
            name=elephantAttack.ogg
        [/sound]
        [message]
            speaker=mammoth
            message= _ "<span size='large'>*trumpets*</span>"
        [/message]
        [message]
            speaker=$unit.id
            message= _ "Uhhhh... that one looks big. And dangerous."
        [/message]
        [micro_ai]
            side=3
            ai_type=big_animals
            action=add
            [filter]
                id=mammoth
            [/filter]
            [filter_location]
                [not]
                    terrain=Ha, Ms
                [/not]
            [/filter_location]
        [/micro_ai]
    [/event]

    [event]
        name=die
        first_time_only=no
        [filter]
            type=Mammoth
            [or]
                type=Mammoth_calf
            [/or]
        [/filter]
        {VARIABLE_OP remaining_mammothes sub 1}

        {IF_VAR remaining_mammothes equals 0 (
            [then]
                [unit]
                    x,y=31,2
                    id=Wyrm
                    type=Wyrm
                    side=4
                [/unit]
                [remove_shroud]
                    side=1
                    x,y=31,2
                    radius=2
                [/remove_shroud]
                [lift_fog]
                    [filter_side]
                        side=1
                    [/filter_side]
                    x,y=31,2
                    radius=2
                [/lift_fog]
                [micro_ai]
                    side=4
                    ai_type=hunter
                    action=add
                    [filter]
                        id=Wyrm
                    [/filter]
                    [filter_location]
                        [not]
                            terrain=Ha, Ms
                        [/not]
                    [/filter_location]
                    rest_turns=3
                    home_x,home_y=31,2
                [/micro_ai]

                [message]
                    speaker=Wyrm
                    #po: Please try to preserve the rhymes upon translation, so that if Alasar is present, his follow-up response makes sense:
                    message= _ "Did you guyssss just ssssslay,
Whom I have chosssssen asssss my prey?
Thou will thus have to deal,
With being my ssssubstitute meal! " #wmllint: no spellcheck
                [/message]

                [if]
                    [have_unit]
                        id=Alasar
                    [/have_unit]
                    [then]
                        [message]
                            speaker=Alasar
                            message= _ "Really? A rhyming dragon?"
                        [/message]
                        [message]
                            speaker=Thindromli
                            message= _ "It's a Wyrm, actually, similar to dragons in many aspects, but not quite as dangerous."
                        [/message]
                    [/then]
                [/if]
            [/then]
        )}
    [/event]

    [event]
        name=side 1 turn end
        first_time_only=no

        {VARIABLE remain $turn_number}
        {VARIABLE_OP remain modulo 2}
        [if]
            [variable]
                name=turn_number
                less_than=46
            [/variable]
            [and]
                [variable]
                    name=remain
                    equals=0
                [/variable]
            [/and]
            [then]
                [switch]
                    variable=turn_number

                    #50% chance
                    [case]
                        value=1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20

                        {ICE_GHOST_SPAWNS 41 1 (1,0)}
                        {ICE_GHOST_SPAWNS 22 2 (1,0)}
                        {ICE_GHOST_SPAWNS 1 2 (1,0)}
                        {ICE_GHOST_SPAWNS 1 12 (1,0)}
                    [/case]

                    #30% chance
                    [case]
                        value=21,22,23,24,25,26,27,28,29,30,31,32,33,34,35

                        {ICE_GHOST_SPAWNS 41 1 (1,1,1,0,0,0,0,0,0,0)}
                        {ICE_GHOST_SPAWNS 22 2 (1,1,1,0,0,0,0,0,0,0)}
                        {ICE_GHOST_SPAWNS 1 2 (1,1,1,0,0,0,0,0,0,0)}
                        {ICE_GHOST_SPAWNS 1 12 (1,1,1,0,0,0,0,0,0,0)}
                    [/case]

                    #10% chance
                    [case]
                        value=36,37,38,39,40,45

                        {ICE_GHOST_SPAWNS 41 1 (1,0,0,0,0,0,0,0,0,0,0)}
                        {ICE_GHOST_SPAWNS 22 2 (1,0,0,0,0,0,0,0,0,0,0)}
                        {ICE_GHOST_SPAWNS 1 2 (1,0,0,0,0,0,0,0,0,0,0)}
                        {ICE_GHOST_SPAWNS 1 12 (1,0,0,0,0,0,0,0,0,0,0)}
                    [/case]
                [/switch]
            [/then]
        [/if]
        {CLEAR_VARIABLE remain}
        {CLEAR_VARIABLE chance}
    [/event]

    [event]
        name=moveto
        [filter]
            x,y=5,7
            side=1
        [/filter]
        [message]
            speaker=Fiannon
            message= _ "Now where are those so-called Northguards?"
        [/message]
        {CLEAR_VARIABLE remaining_mammothes}
        [store_unit]
            [filter]
                side=1
                [and]
                    [filter_wml]
                        [status]
                            frozen=yes
                        [/status]
                    [/filter_wml]
                [/and]
            [/filter]
            variable=unfrozen
            kill=no
        [/store_unit]
        {FOREACH unfrozen i}
            [remove_unit_overlay]
                id=$unfrozen[$i].id
                image=misc/freezing-icon.png
            [/remove_unit_overlay]
            [modify_unit]
                [filter]
                    id=$unfrozen[$i].id
                [/filter]
                [status]
                    frozen=no
                [/status]
            [/modify_unit]
        {NEXT i}
        {CLEAR_VARIABLE unfrozen}
        [endlevel]
            result=victory
            bonus=yes
            linger_mode=no
            {NEW_GOLD_CARRYOVER 40}
        [/endlevel]
    [/event]
    {ABILITY_DIG_EVENT}
    {GLOBAL_EVENTS}
    {PEASANTDEATHS}
    {DEATHS}
[/scenario]
