#textdomain wesnoth-Dawn_of_Thunder

[scenario]
    id=19_Return_to_the_Kalian
    name= _ "Return_to_the_Kalian"
    {NO_MAP_DATA} # (placeholder, to be replaced)
    turns=unlimited # (placeholder, to be replaced with an actual turn limit after testing)
    {DEFAULT_SCHEDULE}
    next_scenario=Epilogue
    [story]
        [part]
            story= _ "When Fiannon and his allies returned to the Kalian, they were shocked by what they saw."
        [/part]
    [/story]
    {BIGMAP_GRAND_MEETING} # (placeholder, to be replaced)
    [event]
        name=prestart
        [endlevel]
            carryover_report=no
            replay_save=no
            linger_mode=no
        [/endlevel]
    [/event]
    [side]
        side=1
        controller=human
        team_name=1
        user_team_name= _ "Aethen's representants"

        type=Elvish Thunderer
        id=Fiannon
        name= _ "Fiannon"
        profile=portraits/Fiannon.png
        canrecruit=yes

        recruit=Elvish Fighter,Elvish Archer,Elvish Shaman,Elvish Scout

        {GOLD 150 100 50}
        {INCOME 2 0 -2}
        {FLAG_VARIANT sylvan}
        fog=yes
    [/side]
    [side] # (placeholder, to be replaced)
        type=Orcish Warlord
        side=2
        canrecruit=yes
        recruit=Orcish Warrior
    [/side]
[/scenario]
