#textdomain wesnoth-dw
[unit_type]
    id=Ice_ghost
    name= _ "Ice ghost"
    race=elemental
    image="units/elementals/ice.png"

    hitpoints=22
    movement_type=undeadspirit
    movement=6
    experience=22
    level=1 # (being level 0 was unfun because that denied you experience)
    alignment=lawful
    advances_to=null
    {AMLA_DEFAULT}
    cost=23
    usage=fighter
    description= _ "Ice ghosts are manifestations of magical energies that appear in cold and icy regions of Wesnoth."
    die_sound=wail-long.wav
    {DEFENSE_ANIM "units/elementals/ice.png" "units/elementals/ice.png" wail-sml.wav }
    [attack]
        name="frost claws"
        description=_"frost claws"
        icon=attacks/ice_3.png
        type=cold
        range=melee
        # I think these are only ever enemies, so it should be ok to do this:
        damage={ON_DIFFICULTY 5 6 7}
        number=3
    [/attack]
    [attack_anim]
        [filter_attack]
            name="frost claws"
        [/filter_attack]
        start_time=-150

        [frame]
            image=units/elementals/ice.png:150
        [/frame]
        {SOUND:HIT_AND_MISS wail-sml.wav miss-1.ogg -100}
        [frame]
            image=units/elementals/ice.png:150
        [/frame]
    [/attack_anim]
[/unit_type]
