#define DEATHS
    [event]
        name=last breath
        [filter]
            id=Naia
        [/filter]
        [message]
            speaker=Naia
            message= _ "Nooo! I didn't even managed to learn how to teleport!"
        [/message]
        [message]
            speaker=Fiannon
            message= _ "Curse! Without her we'll never learn more about the orc menace."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Smilvolf
        [/filter]
        [message]
            speaker=Smilfvolf
            message= _ "Death on the battlefield is a noble death. I'll join my ancestors now!"
        [/message]
        [message]
            speaker=Fiannon
            message= _ "Damn! Without him the northguards will stop supporting us!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Fiannon
        [/filter]
        [message]
            speaker=Fiannon
            message= _ "Noooo, i'm not ready to die this soon!"
        [/message]
        [message]
            id=Naia
            message= _ "Please don't leave us now. We still need you!"
        [/message]
        [message]
            speaker=Fiannon
            message=_ "Continue...ugh...without...ugh...me."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Silam
        [/filter]
        [message]
            speaker=Silam
            message= _ "Must ... accomplish ... mission!"
        [/message]
        [message]
            speaker=Fiannon
            message=_ "Without him we are lost."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Thordrul
        [/filter]
        [message]
            speaker=Thordrul
            message= _ "Someone protect my gold!"
        [/message]
        [message]
            speaker=Fiannon
            message=_ "Without him we'll never get to the surface again."
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Thindromli
        [/filter]
        [message]
            speaker=Thordrul
            message= _ "My son! I see now that I've cared too much about my gold and not enough about you!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=minecart
        [/filter]
        [message]
            speaker=Thordrul
            message= _ "My Gold! Damn elves, this is all your fault!"
        [/message]
        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Alasar
        [/filter]
        [message]
            speaker=Alasar
            message= _ "No! Me? Overhelmed... Can't be..."
        [/message]
        [message]
            speaker=Fiannon
            message= _ "Goodbye Alasar. We will miss you."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Limwen
        [/filter]
        [message]
            speaker=Limwen
            message= _ "I'm too old for this."
        [/message]
        [message]
            speaker=Naia
            message= _ "What a shame, she had to die! I could have learned so much from her!"
        [/message]
    [/event]
#enddef

#define PEASANTDEATHS
    [event]
        name=last breath
        [filter]
            id=rider
        [/filter]
        [message]
            speaker=rider
            message= _ "I can't believe that I died! I just wanted to become a noble knight with a shining armor one day."
        [/message]
        [message]
            speaker=Fiannon
            message= _ "It was a honor fighting with you."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=woodchopper1
        [/filter]
        [message]
            speaker=woodchopper1
            message= _ "Argh! Now I will never become the best Bowman in the World! I should have sticked to my affairs as woodsman."
        [/message]
        [message]
            speaker=Fiannon
            message= _ "Your loyal services will not be forgotten."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=woodchopper2
        [/filter]
        [message]
            speaker=woodchopper2
            message= _ "No! I'll never see my family again! I should have stick to my affairs as peasant."
        [/message]
        [message]
            speaker=Fiannon
            message= _ "We will not forget you loyal fighter."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=woodchopper3
        [/filter]
        [message]
            speaker=woodchopper3
            message= _ "And I just wanted to gain some fair money! I should have stick to my affairs as ruffian."
        [/message]
        [message]
            speaker=Fiannon
            message= _ "Rest in piece, loyal soldier!"
        [/message]
    [/event]
#enddef
