#textdomain wesnoth-The_Legend_Begins
[unit_type]
    id=Black Widow
    name= _ "Black Widow"
    race=monster
    gender=female
    image="units/monsters/black-widow.png~dawn_of_thunder(78,78)"
    hitpoints=84
    movement_type=mountainfoot
    [movement_costs]
        fungus=2
    [/movement_costs]
    movement=6
    experience=200
    level=4
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=70
    usage=fighter
    description= _ "Having a venomous bite and capable of immobilizing their prey in webs, Black Widows are rarely seen by surface dwellers. Queens among spiders, these massive beasts should be avoided when encountered."+{SPECIAL_NOTES}+{SPECIAL_NOTES_POISON}+{SPECIAL_NOTES_SLOW}
    die_sound=hiss-big.wav
    {DEFENSE_ANIM "units/monsters/black-widow-melee-2.png~dawn_of_thunder(78,78)" "units/monsters/black-widow-melee-1.png~dawn_of_thunder(78,78)" hiss.wav }
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs-spider.png
        type=blade
        range=melee
        damage=24
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=web
        description=_"web"
        type=impact
        range=ranged
        damage=12
        number=3
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack_anim]
        start_time=-400
        [filter_attack]
            name=web
        [/filter_attack]
        [missile_frame]
            begin=-200
            end=0
            image="projectiles/web.png"
            image_diagonal="projectiles/web.png"
        [/missile_frame]
        [frame]
            duration=75
            image="units/monsters/black-widow-ranged-1.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=75
            image="units/monsters/black-widow-ranged-2.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=75
            image="units/monsters/black-widow-ranged-3.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=75
            image="units/monsters/black-widow-ranged-4.png~dawn_of_thunder(78,78)"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=75
                image="units/monsters/black-widow-ranged-5.png~dawn_of_thunder(78,78)"
                sound=net.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=75
                image="units/monsters/black-widow-ranged-5.png~dawn_of_thunder(78,78)"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=75
            image="units/monsters/black-widow-ranged-6.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=75
            image="units/monsters/black-widow-ranged-7.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=75
            image="units/monsters/black-widow-ranged-3.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=75
            image="units/monsters/black-widow-ranged-2.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=75
            image="units/monsters/black-widow-ranged-1.png"
        [/frame]
        {SOUND:SLOW}
    [/attack_anim]
    [attack_anim]
        start_time=-400
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            duration=50
            image="units/monsters/black-widow-melee-1.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/black-widow-melee-2.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/black-widow-melee-3.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/black-widow-melee-4.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/black-widow-melee-5.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/black-widow-melee-6.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/black-widow-melee-7.png~dawn_of_thunder(78,78)"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=50
                image="units/monsters/black-widow-melee-8.png~dawn_of_thunder(78,78)"
                sound=bite.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=50
                image="units/monsters/black-widow-melee-8.png~dawn_of_thunder(78,78)"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=50
            image="units/monsters/black-widow-melee-9.png~dawn_of_thunder(78,78)"
        [/frame]
        {SOUND:POISON}
        [frame]
            duration=50
            image="units/monsters/black-widow-melee-10.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/black-widow-melee-11.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/black-widow-melee-12.png~dawn_of_thunder(78,78)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/black-widow-melee-13.png~dawn_of_thunder(78,78)"
        [/frame]
    [/attack_anim]
[/unit_type]
