#textdomain wesnoth-units
[unit_type]
    id=Silver Mage of the Moon
    name= _ "Silver Mage of the Moon"
    race=human
    gender=female
    profile="portraits/Naia-silver.png"
	small_profile="portraits/Naia-silver.png~dawn_of_thunder(205,205)"
	image="units/human-magi/silver-mage+female.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=48
    movement_type=smallfoot
    movement=6
    experience=185
    level=3
    alignment=lawful
    advances_to=Golden Mage of the Sun
	[advancement]
        strict_amla=no
        max_times=1
        id=amla_speed
        description= _ "Speed of light (movement points +2 , Max XP +20%)"
        image="attacks/speedamla.png"
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]
        [effect]            
		    apply_to=movement
            increase=2
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
	[advancement]
        strict_amla=no
        max_times=1
        id=amla_hardy
        description= _ "Magic shield (resistances pierce, impact and blade +25% , Max XP +20%)"
        image="attacks/magicresistancesamla.png"
        [effect]
            apply_to=hitpoints
            increase_total=3
            heal_full=yes
        [/effect]			
	    [effect]
            apply_to=resistance
            replace=no
            [resistance]
                pierce=-15
                blade=-15
                impact=-15
            [/resistance]
        [/effect]
        [effect]
            apply_to=max_experience
            increase=20%
        [/effect]
        [effect]
            apply_to=status
            remove=poisoned
        [/effect]
        [effect]
            apply_to=status
            remove=slowed
        [/effect]
    [/advancement]
    cost=59
    usage=mixed fighter
    description= _ "The many paths that a mage can take in study lead to strikingly different ends. Often viewed as sages, or wandering mystics, silver magi act under an agenda which is obscure even to their own colleagues. Though helpful to the magisteriums which often employ them in the field, they remain somewhat aloof.

They have, in fact, their own order amongst the ranks of magi, an order which withholds certain secrets from their peers. One of these is an apparent ability to cross great distances, faster than one could possibly travel on foot. Members of the silver order ardently refuse to discuss the workings of this with any of their fellow magi, and on those rare occasions when others have pried into their work, they have abandoned the endeavor, never to speak of it again.

Silver magi are often more physically adept than other magi, and their skills are of undeniable use on the battlefield, if one can manage to induce the mage to apply them."+{SPECIAL_NOTES}+_"SPECIAL_NOTE^ Silver Magi are well-attuned to their magical natures and are highly resistant to non-physical damage."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_TELEPORT}
    die_sound={SOUND_LIST:HUMAN_DIE}

    [resistance]
        fire=50
        cold=50
    [/resistance]
    [abilities]
        {ABILITY_TELEPORT}
    [/abilities]
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=7
        number=2
    [/attack]
    [attack]
        name=missile
        description=_"missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        damage=9
        number=4
    [/attack]
	{DEFENSE_ANIM "units/human-magi/silver-mage+female-defend.png" "units/human-magi/silver-mage+female.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
	[attack_anim]
		[filter_attack]
			name=missile
		[/filter_attack]
		offset=0
		{MAGIC_MISSILE 14 -23}
		{MAGIC_MISSILE_STAFF_FLARE -750 600 14 -23}
		[frame]
			image="units/human-magi/silver-mage+female-attack-magic[1,2,1].png:[100,700,200]"
		[/frame]
	[/attack_anim]
	[attack_anim]
		[filter_attack]
			name=staff
		[/filter_attack]
		[frame]
			image="units/human-magi/silver-mage+female.png:50"
		[/frame]
		[frame]
			image="units/human-magi/silver-mage+female-attack-staff[1~2].png:[100,200]"
		[/frame]
		[frame]
			image="units/human-magi/silver-mage+female-attack-magic1.png:75"
		[/frame]
		[frame]
			image="units/human-magi/silver-mage+female.png:75"
		[/frame]
	[/attack_anim]
    [animation]
        apply_to=pre_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=-10
            halo_y=30~-30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=0
            halo_y=40~-40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=10
            halo_y=30~-30
        [/teleport_sparkle_3_frame]

        [frame]
            duration=200
            image="units/human-magi/silver-mage-teleport-1.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-2.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-6.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-7.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-8.png"
        [/frame]
        [frame]
            duration=300
            image="misc/blank-hex.png"
        [/frame]
    [/animation]

    [animation]
        apply_to=post_teleport
        start_time=-1200

        teleport_sparkle_1_start_time=-1200
        teleport_sparkle_2_start_time=-1000
        teleport_sparkle_3_start_time=-800

        [teleport_sparkle_1_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=10
            halo_y=-30~30
        [/teleport_sparkle_1_frame]
        [teleport_sparkle_2_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=0
            halo_y=-40~40
        [/teleport_sparkle_2_frame]
        [teleport_sparkle_3_frame]
            duration=800
            halo=misc/blank-hex.png:1,halo/teleport-9.png,halo/teleport-8.png,halo/teleport-1.png,halo/teleport-2.png,halo/teleport-3.png,halo/teleport-4.png,halo/teleport-5.png,halo/teleport-6.png,halo/teleport-7.png,halo/teleport-8.png,halo/teleport-9.png,misc/blank-hex.png:1
            halo_x=-10
            halo_y=-30~30
        [/teleport_sparkle_3_frame]
        [frame]
            duration=300
            image="misc/blank-hex.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-8.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-7.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-6.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-5.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-4.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-3.png"
        [/frame]
        [frame]
            duration=100
            image="units/human-magi/silver-mage-teleport-2.png"
        [/frame]
        [frame]
            duration=200
            image="units/human-magi/silver-mage-teleport-1.png"
        [/frame]
    [/animation]
[/unit_type]
